.Navigation_bar {
  display: flex;
  border-bottom: 4px solid #dddadd;
}

.Navigation_bar img {
  height: 150px;
  width: auto;
  align-items: center;
  padding-left: 30px;
}

.Navigation_bar ul {
  align-items: center;
  margin-left: 34px;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 33px;
  color: #58d68d;
}

.Navigation_bar a {
  text-decoration: none;
  color: #58d68d;
  font-family: "Playwrite DK Uloopet";
}

.Navigation_bar a:hover {
  color: white;
  text-shadow: -1px -1px 0 #58d68d, 1px -1px 0 #58d68d, -1px 1px 0 #58d68d, 1px 1px 0 #58d68d;
}
