.DescriptionHome {
  display: flex;
  padding-left: 10rem;
  background-color: #277145;
  color: white;
}

.DescriptionHome h1 {
  color: #eeee37;
  padding-top: 3rem;
  font-family: "Bungee";
  letter-spacing: 1px;
  word-spacing: 4px;
}

.DescriptionHome h2 {
  font-family: "Playwrite DK Uloopet";
}

.DescriptionHome p {
  margin-bottom: 0px;
  padding-bottom: 2rem;
  font-family: "Playwrite DK Uloopet";
}

.DescriptionText {
  width: 40%;
}

.ReserveButton {
  display: flex;
  padding: 60px;
}

.ButtonOption {
  padding: 20px 50px;
  outline: none;
  border: none;
  border-radius: 15px;
  background-color: #eeee37;
  cursor: pointer;
  color: black;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1.5px;
  box-shadow: 0px 5px 6px;
  font-family: "Bungee";
}

.ButtonOption:hover {
  color: rgb(41, 207, 199);
}

.RestaurantPhoto {
  width: 500px;
  height: auto;
  padding: 50px;
  padding-left: 90px;
}

.DishesFromChef h1 {
  font-family: "Rubik Mono One";
  text-align: center;
  background-color: azure;
  margin: 0;
  padding: 40px;
  padding-top: 75px;
}
